.productBox{
    padding: 2rem;
    border-radius: 1rem;
}
.productDetail{
    background-color: grey;
    list-style: none;
    font-weight: 700;
    display: flex;
    width: 1000px;
    border-radius: 2rem;
}

.bigPicture{
    width: 650px;
    height: auto;
    border-radius: 1rem;
    
}

.productTitle{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}

.detailBox{
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 1rem;
}


.description{
    font-weight: 500;
}

.itemTitle{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.carritoBtn{
    background-color: #28a745 ;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid black ;
    height: 4rem;
    padding: 1rem;
    cursor: pointer;
}

.carritoBtn2{
    background-color: #FFA900 ;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid black ;
    height: 4rem;
    padding: 1rem;
    cursor: pointer;
}

.carritoBtn1{
    background-color: #28a745 ;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid black ;
    height: 4rem;
    padding: 1rem;
    cursor: pointer;
}


.ItemCount{
    background-color: white;
    text-align: center;
    display: inline-block;
    padding: 1rem;
    margin: 0 0.5rem;
}

.Counter{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Counter-op{
    margin: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}