.item-list-title{
    color: #262626;
    text-transform: uppercase;
    padding: 3rem 0;
    text-decoration: underline;
}
.ItemList {
  width: 90vw;
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  list-style:none;
  padding-bottom: 4rem;
}
.loader {
  position: absolute;
  top: 40vh;
  left: 50vw;
  font-size: 4rem;
  animation: rotate 1.5s linear infinite;
  color: white;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}


