.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.brand{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.nav-item{
    display: inline;
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}
.nav-item-active{
    color: #28a745;
}
.nav-item a:active{
    color: whitesmoke;
}
.nav-item a:hover{
    color: #343a40;
}

.cartIcon{color: black;}