
body {
    
    color: black;
    background-color:gainsboro;
}

.cart-btn {
    position: relative;
    cursor: pointer;
    display: inline;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: rgb(253, 173, 0);
    padding: 0 5px;
    border-radius: 30%;
    color: whitesmoke;
}
.cartIcon{
    font-size: 1.5rem;
    color: whitesmoke;
}