
body {
    background: url("./images/Banner-mate.jpeg") center/cover no-repeat;
    color: black;
    background-color:grey;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.brand{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.nav-item{
    display: inline;
}
.nav-item a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
.nav-item a:active{
    color: whitesmoke;
}
.nav-item a:hover{
    color: rgb(253, 173, 0);
}
.cart-btn {
    position: relative;
    cursor: pointer;
    display: inline;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: rgb(253, 173, 0);
    padding: 0 5px;
    border-radius: 30%;
    color: whitesmoke;
}
.cartIcon{
    font-size: 1.5rem;
    color: whitesmoke;
}